@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Red+Hat+Display:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Homemade+Apple&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h2,
h3,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  overflow: hidden;
  background-color: rgb(204, 159, 75);
  padding-left: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  font-family: "Red Hat Display", sans-serif;
}

#navbar #logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  float: left;
}

#navbar #logo img {
  width: 5rem;
  height: auto;
}

#navbar-centrado {
  display: flex;
  flex-direction: row;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
}

h1 {
  font-size: 1.5rem;
  color: white;
  font-family: "Homemade Apple", cursive;
}

#navbar-centrado a {
  float: left;
  color: white;
  padding: 1rem 0.7rem;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
}

#navbar-centrado a:hover {
  background-color: rgb(204, 167, 98);
  font-size: 22px;
  color: white;
}

#navbar-derecha {
  float: none;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

#navbar-derecha a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 16px;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

.boton-carrito {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.numerito {
  background-color: rgb(179, 135, 53);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 860px) {
  h1 {
    visibility: hidden;
  }
  .boton-carrito {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

@media screen and (max-width: 375px) {
  #navbar {
    padding: 0.5rem;
  }

  h1 {
    visibility: hidden;
  }

  #navbar-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #navbar-centrado a {
    padding: 0.2rem;
  }

  .boton-carrito a {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}

.wrapper {
  margin-top: 8.9rem;
  display: flex;
  flex-direction: column;

  font-family: "Red Hat Display", sans-serif;
}

aside {
  background-color: rgb(204, 159, 75);
  position: fixed;
  width: 100vw;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boton-menu {
  border: 0;
  background-color: transparent;
  color: white;
  padding: 0.5rem;

  height: 100%;
  font-size: 1.1rem;
  cursor: pointer;

  font-family: "Red Hat Display", sans-serif;
}

.boton-menu.activo {
  text-decoration: underline;
}

.galeria-productos {
  background-color: white;
  padding: 2rem;
}

.titulo-principal {
  margin-bottom: 2rem;

  color: rgb(204, 159, 75);
  font-size: 2rem;
  text-transform: uppercase;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.producto-detalles {
  background-color: rgb(204, 159, 75);
  color: white;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo {
  font-size: 1.2rem;
}

.producto-agregar {
  background-color: white;
  color: rgb(204, 159, 75);
  padding: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid white;
  transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover {
  background-color: rgb(204, 159, 75);
  color: white;
}

@media screen and (max-width: 860px) {
  .wrapper {
    margin-top: 8.9rem;
  }

  .menu {
    flex-wrap: wrap;
    margin-bottom: 0.6rem;
  }

  .boton-menu {
    font-size: 1.2rem;
    padding: 0.2rem;
  }

  #contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin-top: 9.7rem;
  }

  .boton-menu {
    font-size: 1.1rem;
    padding: 0.2rem;
  }

  .titulo-principal {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  #contenedor-productos {
    grid-template-columns: repeat(1, 1fr);
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.elemento-footer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5px;

  margin-top: -18px;
  margin-bottom: -18px;

  color: white;
}

a {
  text-decoration: none;
  color: white;
}
